:root {
  --blue: #69a9ff;
  --border-button-dark: rgba(255, 47, 100, 0.3);
  --border-button-light: rgba(252, 252, 252, 0.4);
  --box-shadow-button: rgba(45, 52, 64, 0.1);
  --dark: #565c66;
  --extra-dark: #2d3440;
  --extra-light: #fcfcfc;
  --extra-light-pink: #ffcbd8;
  --extra-pink: #ff2f64;
  --green: #00e484;
  --light: #e7e7e7;
  --light-pink: #feafc3;
  --neutral: #b9b9b9;
  --neutral-pink: #ff7799;
  --orange: #fd912e;
  --pink: #ff4a78;
  --red: #ea5454;
  --white: #ffffff;
  --yellow: #fcc850;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1170px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  color: var(--extra-dark);

  background-color: var(--light-pink);
}

/* .dark {
  background-color: var(--blue);
}

.bright {
  background-color: var(--yellow);
} */

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding: 12px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 26px;
  cursor: pointer;
}

/* Состояния кнопки */

.button-dark {
  color: #fcfcfc;

  background-color: var(--extra-pink);
  outline: 4px solid var(--border-button-dark);
  box-shadow: 0 4px 12px 0 var(--box-shadow-button);
}

/* Состояния кнопки */

.button-light {
  color: var(--extra-dark);

  background-color: var(--extra-light);
  outline: 4px solid var(--border-button-light);
  box-shadow: 0 4px 12px 0 var(--box-shadow-button);
}

/* Состояния кнопки */

.title {
  margin: 0;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* Шапка */

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 42px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #2d3440;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center left;
}

.logo-header {
  display: flex;
  align-items: center;
  width: 137px;
  padding: 24px 16px 24px 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 431px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 32px;
  min-height: 32px;
}

.navigation-link-tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
}

.navigation-link-search {
  margin-right: 16px;
  padding: 8px;

  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/svg/header/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 27px;
  cursor: pointer;
}

.navigation-link-entrance {
  margin-right: 16px;
  padding: 6px 16px;

  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/svg/header/entrance.svg);
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 27px;
  cursor: pointer;
}

.navigation-link-basket {
  margin-right: 16px;
  padding: 6px 16px;

  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/svg/header/basket.svg);
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 27px;
  cursor: pointer;
}

/* Главная страница  */

.main {
  flex-grow: 1;
}

.slider-active {
  display: grid;

  grid-template-columns: 470px 327px 1fr 1fr;
}

.slider-title {
  margin: 136px 0 24px 70px;

  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  font-family: inherit;
}

.slider-description {
  width: 429px;
  height: 72px;
  margin: 0 0 48px 70px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.slider-button {
  margin: 0 0 138px 70px;
}

.slider-images {
  height: 507px;
  margin: 0;
}

.social-link-telegram {
  background-image: url(../images/svg/icons-footer/telegram.svg);
}

.social-link-vkontakte {
  background-image: url(../images/svg/icons-footer/vk.svg);
}

.social-link-youtube {
  background-image: url(../images/svg/icons-footer/youtube.svg);
}

/* Блок с акциями */
.action-block {
  margin-bottom: 80px;
}

.block-title {
  margin-bottom: 55px;
}

.action-block-container {
  display: grid;

  grid-column-gap: 30px;
  grid-template-columns: 570px 570px;
}

.block-container {
  background-color: var(--neutral-pink);
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 16px;
}

.block-container-promo-one {
  background-image: url(../images/png/ice-cream-1.png);
}

.block-container-promo-two {
  background-image: url(../images/png/ice-cream-2.png);
}

.blog-container-promo {
  width: 317px;
}

.block-container-title {
  margin: 36px 0 28px 36px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: inherit;
}

.block-container-description {
  margin: 0 0 28px 36px;
}

.block-button {
  margin: 0 0 36px 36px;
}

/* Популярные вкусы */

.popular-product {
  margin-bottom: 80px;
}

.popular-title {
  margin-bottom: 55px;
}

.popular-product-container {
  display: grid;

  grid-column-gap: 30px;
  grid-template-columns: repeat(4, 270px);
}

.product-container {
  background-color: var(--extra-light);
  border-radius: 8px;
}

.product-container img {
  border-radius: 50%;
}

.product-container-title {
  display: block;
  width: 190px;
  margin: 0 40px 8px 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  text-align: center;
  color: var(--extra-dark);
  text-decoration: none;
}

.product-container-description {
  display: block;
  width: 190px;
  margin: 0 40px 16px 40px;

  text-align: center;
  color: var(--dark);
}

.product-container-basket {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 0 40px 24px 40px;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  color: var(--extra-dark);
}

/*
Блок с информацией о товарах */

.information-shop {
  margin-bottom: 80px;
  padding: 24px;

  background-image: url(../images/png/waffle-pattern.png);
  border-radius: 16px;
}

.information-shop-container {
  padding: 56px 0;

  background-color: var(--white);
  border-radius: 16px;
}

.information-title {
  margin: 0 63px 56px 63px;
}

.information-container {
  display: grid;
  flex-wrap: wrap;
  margin: 0 40px;

  gap: 40px 32px;
  grid-template-columns: 505px 505px;
}

.information-description {
  margin: 0;
  padding-left: 64px;

  text-align: start;
  color: var(--dark);

  background-repeat: no-repeat;
  background-position: top left 0;
}

.icon-ice-cream {
  background-image: url(../images/svg/icons-information-block/ice-cream.svg);
}

.icon-cow {
  background-image: url(../images/svg/icons-information-block/cow.svg);
}

.icon-leaf {
  background-image: url(../images/svg/icons-information-block/leaf.svg);
}

.icon-thermometer {
  background-image: url(../images/svg/icons-information-block/thermometer.svg);
}

/* Блог */

.blog-container {
  display: grid;
  margin-bottom: 80px;

  grid-column-gap: 30px;
  grid-template-columns: 570px 570px;
}

.blog-news {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 67px;
  padding-left: 32px;

  background-color: var(--white);
  background-image: url(../images/png/background-news.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
}

.blog-news-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: var(--dark);
}

.blog-news-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: inherit;
  color: var(--extra-dark);
  text-decoration: none;
}

.blog-newsletter {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;

  background-image: url(../images/png/postal-background.png);
  border-radius: 16px;
}

.newsletter {
  padding: 26px;

  background-color: var(--white);
  border-radius: 16px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 42px;
}

.mailing-input {
  width: 332px;
  height: 48px;
  margin-right: 14px;

  border: 1px solid var(--neutral);
  border-radius: 4px;
}

/* Доставка */

.delivery-container {
  display: flex;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;

  background-image: url(../images/jpg/delivery-background.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  border-radius: 16px;
}

.delivery-title {
  margin-top: 103px;
  margin-right: 150px;
  margin-bottom: 24px;

  text-align: left;
}

.delivery-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: inherit;
  color: #565c66;
}

.delivery-form {
  display: block;
  width: 500px;
  height: 406px;
  padding: 40px 40px 42px 40px;

  background-color: var(--extra-light);
  border-radius: 8px;
}

/* Контактная информация */
.contacts {
  padding: 64px 763px 64px 64px;

  background-color: var(--extra-dark);
  background-image: url(../images/jpg/contacts-background.jpg);
  background-position: right;
  background-size: cover;
  border-radius: 16px;
}

.contacts-container {
  width: 343px;
  height: 364px;
  padding: 40px;

  background-color: var(--extra-light);
  border-radius: 8px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 12px;

  color: var(--dark);
}

.contacts-description {
  margin-top: 12px;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
}

.contacts-description-telephone {
  margin: 0;
}

.contacts-information {
  margin-top: 0;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: var(--dark);
}

/* Подвал */

.main-footer {
  display: grid;
  padding-top: 48px;
  padding-bottom: 48px;

  gap: 0 259px;
  grid-template-columns: 104px 1fr 193px;
}

.footer-social-list {
  display: grid;
  justify-content: center;

  gap: 16px;
  grid-template-columns: repeat(3, auto);
}

.social-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /* background-color: var(--extra-light); */

  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.social-button-telegram {
  background-image: url(../images/svg/icons-footer/telegram.svg);
}

.social-button-vkontakte {
  background-image: url(../images/svg/icons-footer/vk.svg);
}

.social-button-youtube {
  background-image: url(../images/svg/icons-footer/youtube.svg);
}

.main-footer-info {
  display: grid;

  grid-template-columns: repeat(2, auto);
}

.footer-info {
  width: 150px;
}

.footer-info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: var(--extra-dark);
  text-decoration: none;
}

.footer-info-text-like {
  margin-right: 24px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: var(--extra-dark);
}

.footer-documents {
  width: 182px;
}

.footer-documents-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: var(--extra-dark);
  text-decoration: none;
}

.logo-footer {
  margin-bottom: 14px;
  padding: 0;

  text-align: left;
}

.footer-navigation-link {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: inherit;
}

.footer-href {
  color: var(--extra-dark);
}

/* Каталог  */

.inner-container {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -21px;

  width: 7px;
  height: 6px;

  background-image: url(../images/svg/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: var(--extra-dark);
  text-decoration: none;
}

.inner-title {
  text-align: left;
}

/* Фильтр  */

.catalog {
  margin-bottom: 44px;
}

.product-list {
  display: grid;
  margin-bottom: 16px;

  gap: 40px 30px;
  grid-template-columns: repeat(4, 1fr);
}

.pagination-wrapper {
  display: flex;
  justify-content: right;
  height: 126px;
  padding: 41px 0;
}

.product-card-more {
  margin-right: 335px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-list-item {
  width: 24px;
  height: 24px;
}

.pagination-link {
  padding: 2px 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: var(--extra-dark);
  text-decoration: none;
}

.pagination-link-current {
  background-color: var(--extra-light);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
